# Données brutes et nettoyées (licence Banque Mondiale)
data/raw/
data/processed/
# Cache renv (lourd, renv.lock suffit)
renv/
# Fichiers système
.DS_Store
Thumbs.db
# Fichiers R temporaires
.Rhistory
.Rprofile
.RData
.Rproj.user/

# Notes internes docs
# rapports/TP2_R_Interpretations.md
# rapports/TP2_R_Some_Lesson.md
